@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
  body {
    font-family: "Poppins", sans-serif;
  }
}
.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
.zoom-enter .content {
  opacity: 0;
  transform: scale(0.5);
}
.zoom-enter-active .content {
  opacity: 1;
  transform: scale(1);
}
.zoom-exit .content {
  opacity: 1;
}
.zoom-exit-active .content {
  opacity: 0;
  transform: scale(0.5);
}

// Fade

.fade-enter .tooltip {
  opacity: 0;
}
.fade-enter-active .tooltip {
  opacity: 1;
}
.fade-exit .tooltip {
  opacity: 1;
}
.fade-exit-active .tooltip {
  opacity: 0;
}
.toggle-input {
  /* visually hidden but still accessible */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
